<ion-header>
  <ion-toolbar>
    <ion-title>
      Messages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true">
  <ion-list lines="none">
    <ion-item *ngFor="let item of items | async; let i = index">
      <ion-label>
        <app-message [message]="item" [self]="i === 1"></app-message>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-item lines="none">
  <ion-input [(ngModel)]="message" placeholder="Type something"></ion-input>
  <ion-icon name="send" slot="end" (click)="sendMessage()"></ion-icon>
</ion-item>